@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.root{
    --main-color: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    color: var(--main-color);
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}


/* Header */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    gap: 40px;
    border-bottom: 1px solid #c7c7c7;
    position: sticky;
    background-color: white;
    top: 0;
}

.menu{
    display: none;
    cursor: pointer;
}

.logo img{
    width: 100%;
    height: auto;
}

.logo{
    display: flex;
    width: 20%;
    min-width: 150px;
}

.navigation{
    display: flex;
    justify-content: end;
    width: 100%;
}

nav ul {
    display: flex;
    justify-items: center;
    gap: 40px;
}

nav ul li{
    padding: 5px;
}

nav ul li:hover{
    background-color: rgba(0, 0, 0, 0.096);
    border-radius: 30px;
}

.carrito::before{
    content: url(/Assets/Icons/Cart.svg);
}

.acceso:before{
    content: url(/Assets/Icons/Login.svg);
}

.acceso, .carrito{
    display: flex;
    align-items: center;
}

@media (max-width:535px) {
    .navigation{
        display: none;
    }

    .menu{
        display: block;
    }
}

/* Contenido Principal */

.productos{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 40px;
}

.producto{
    flex-grow: 0;
    /* border: 2px solid black; */
    box-shadow: 0px 0px 10px 1px #00000046;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    text-align: center;
    flex-basis: 20%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.imagen-producto{
    width: 60%;
}

.boton{
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    border: none;
    transition: 1s;
}

.boton:hover{
    color: #c7c7c7;
    scale: 1.1;

}

.bottom{
    display: flex;
    align-items: center;
    gap: 20px;
}

.promociones{
    display: flex;
}

.promociones img{
    border-radius: 30px;
    width: 100%;
}



/* FOOTER OJO */

footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #c7c7c7;
    text-align: center;
    flex-basis: 20%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 20px;
    gap: 20px;
}

footer ul{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 20%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 20px;
    gap: 20px;
}

footer ul li:first-child{
    font-weight: bold;
    font-size: 25px;
}

.copyright{
    position: fixed;
    display: block;
}

.sobre-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 20%;

}

.sobre-nosotros img{
    width: 50%;
    max-width: 200px;
}

.sobre-nosotros p{
    text-align: center;
    font-size: 15px;
}